@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: #ebe7e7;
	font-family: "Instrument Sans", sans-serif;
}
h1,
h2,
h3,
h4 {
	color: #292d32;
	font-weight: bold;
}
h5 {
	color: #626262;
	font-size: small;
}
